$primary-color : rgba(255, 211, 42, 1);
$primary-gradient-bg : linear-gradient(180deg, #FFDD59 0%, #FFA801 100%);
$graph-box-green-bg : rgba(0, 71, 38, .56);
$graph-box-red-bg : rgba(84, 0, 0, 1);
$primary-gradient-text : linear-gradient(275.37deg, #000000 -23.04%, #FFD32A 41.01%, #FFDD59 102.43%);
$dark : rgba(23, 23, 23, 0.8);
$light : rgba(252, 249, 249, 1);
$header-section-bg : linear-gradient(106.75deg, #485460 11.27%, #1E272E 93.38%);
$trending-section-bg : rgba(30, 39, 46, 1);
$black : rgba(12, 12, 12, 1);
$white : rgba(255, 255, 255, 1);
$gray-text-color : rgba(101, 101, 101, 1);
$title-text-color : rgba(72, 84, 96, 1);
$navbar-text-color : rgba(218, 218, 218, 1);

// -------------FONTS------------

//-- KOLLEKTIF

$kollektif-regular : 'Kollektif Regular';
$kollektif-italic : 'Kollektif Italic';
$kollektif-bold : 'Kollektif Bold';
$kollektif-bold-italic : 'Kollektif Bold Italic';

//-- GILROY

$gilroy-bold : 'Gilroy-Bold ☞';
$gilroy-heavy : 'Gilroy-Heavy ☞';
$gilroy-light : 'Gilroy-Light ☞';
$gilroy-medium : 'Gilroy-Medium ☞';
$gilroy-regular : 'Gilroy-Regular ☞';

//-- INTER

$inter-regular: 'Inter Regular';
$inter-bold: 'Inter Bold';

